@font-face {
  font-family: "Cafe24SurroundAir";
  src: url("/fonts/Cafe24SsurroundAir-v1.1.woff2") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-display: swap;
}
