html {
  --title-01-font-size: 48px;
  --title-01-font-style: normal;
  --title-01-font-weight: 600;
  --title-01-line-height: 24px;

  --title-02-font-size: 32px;
  --title-02-font-style: normal;
  --title-02-font-weight: 600;
  --title-02-line-height: 24px;

  --title-03-font-size: 20px;
  --title-03-font-style: normal;
  --title-03-font-weight: 500;
  --title-03-line-height: 24px;

  --body-01-font-size: 14px;
  --body-01-font-style: normal;
  --body-01-font-weight: 500;
  --body-01-line-height: 20px;

  --body-02-font-size: 14px;
  --body-02-font-style: normal;
  --body-02-font-weight: 500;
  --body-02-line-height: 18px;

  --body-03-font-size: 12px;
  --body-03-font-style: normal;
  --body-03-font-weight: 500;
  --body-03-line-height: 16px;
}
