.map {
  width: 100%;
  height: calc(100dvh - 330px);
  border-radius: 16px;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100dvh - 330px);
  border-radius: 16px;
  background-color: var(--color-tertiary);
  color: var(--color-gray-800);
  text-align: center;
  font-size: var(--body-02-font-size, 14px);
  font-weight: var(--body-02-font-weight, 500);
  line-height: var(--body-02-line-height, 18px);
}

@media (min-width: 768px) {
  .map {
    height: calc(100dvh - 364px);
  }

  .error {
    height: calc(100dvh - 364px);
  }
}
